@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,300&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@media (max-width: 992px) {
  body header .nav-link__line {
    display: none;
  }
  body .contact-information .conteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 3vh;
  }
  body .contact-information__story {
    display: none;
  }
  body .contact-information__story-content {
    display: none;
  }
  body .contact-information__price {
    display: none;
  }
  body .contact-information__messenders {
    display: none;
  }
  body .contact-information__logo-img {
    margin-top: 0;
    width: 95px;
    height: 72px;
  }
  body .contact-information__contact {
    max-width: 40vw;
  }
  body .contact-information__contact p {
    font-style: 9px;
  }
  body .contact-information__contact-tel {
    font-size: 14px;
    margin: 1.5vh 0;
  }
  body .contact-information__contact-link-tel {
    font-style: 10px;
  }
  body .main-content .conteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    text-align: center;
  }
  body .main-content__left-column-conteiner {
    display: none;
  }
  body .main-content__company-informations {
    margin-left: 0;
  }
  body .main-content__company-informations-text {
    font-size: 18px;
    line-height: 30px;
    width: 70vw;
  }
  body .main-content__company-informations-text-before {
    font-size: 14px;
    line-height: 10px;
  }
  body .main-content__company-informations-text-before::before {
    content: '';
    position: relative;
    padding-right: 16vw;
    background: url("/img/main-content/Круги.svg") center center no-repeat;
  }
  body .main-content__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .main-content__price, body .main-content__record {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 1vh 0;
    height: 6vh;
    width: 60vw;
  }
  body .main-content__price P, body .main-content__record P {
    max-width: 52vw;
  }
  body .main-content__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
  }
  body .main-content__footer-text {
    text-align: center;
    min-width: 35vw;
  }
  body .main-content__clone {
    display: block;
  }
}

@media (max-width: 992px) {
  body.active {
    padding: 0;
    background: #EDF2F5;
  }
  body.active .main-content__clone {
    display: none;
  }
}

@media (max-width: 992px) {
  header .header__bureger {
    display: block;
    position: absolute;
    top: 8vh;
    width: 50px;
    height: 30px;
    right: 10vw;
    z-index: 3;
  }
  header .header__bureger::before, header .header__bureger::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  header .header__bureger::before {
    top: 0;
  }
  header .header__bureger::after {
    bottom: 0;
  }
  header .header__bureger .header__bureger-span {
    position: absolute;
    top: 14px;
    width: 100%;
    height: 2px;
    background-color: white;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  header .header__bureger.active::before {
    top: 50%;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  header .header__bureger.active::after {
    bottom: 50%;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  header .header__bureger.active .header__bureger-span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  header .nav-link__nav {
    display: none;
  }
  header .nav-link.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: #EDF2F5;
  }
  header .nav-link.active .nav-link__nav {
    display: block;
  }
  header .nav-link.active .nav-link__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
  }
  header .nav-link.active .nav-link__content-li {
    font-size: 24px;
    margin: 10px 0px 10px 0px;
    -webkit-transition: font-size 0.1s ease-out 0s;
    transition: font-size 0.1s ease-out 0s;
  }
  header .nav-link.active .nav-link__content-li:hover {
    font-size: 26px;
  }
  header .contact-information {
    display: none;
  }
}

.contact-information__story, .main-content__left-column-conteiner-text, .main-content__company-informations-text, .main-content__left-column-conteiner-text-clone, .popap-record__header {
  font-weight: 400;
}

header .nav-link, .popap-record__header-title {
  font-weight: 500;
}

.contact-information__price, .contact-information__contact-tel, .main-content__price, .main-content__record, .popap-record__form-btn {
  font-weight: 600;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  background-image: url("/img/BG.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-attachment: fixed;
  padding: 5vh 10vw 0vh 10vw;
}

@media (max-width: 992px) {
  body {
    padding: 2vh 2vw 0vh 2vw;
  }
}

header .nav-link__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav-link__content-li {
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

header .nav-link__content-li:hover {
  color: #F38120;
  cursor: pointer;
}

header .nav-link__content-li-home {
  width: 40px;
  height: 40px;
  -webkit-transition: background 0.3s ease 0s;
  transition: background 0.3s ease 0s;
  background: url("/img/home.svg") center center no-repeat;
}

header .nav-link__content-li-home:hover {
  color: #F38120;
  cursor: pointer;
  background: url("/img/Vector.svg") center center no-repeat;
}

header .nav-link__line {
  margin-top: 3vh;
  border: 1px solid #1C1C1C;
  opacity: 0.07;
}

.contact-information .conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 3vh;
}

.contact-information__story {
  line-height: 18px;
  text-align: center;
}

.contact-information__story-content {
  max-width: 14vw;
}

.contact-information__story-content p {
  margin-bottom: 10px;
}

.contact-information__price {
  cursor: pointer;
  font-size: 12px;
}

.contact-information__price-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 14vw;
}

.contact-information__price-content img {
  width: 43.85px;
  height: 43.85px;
}

.contact-information__price-content p {
  border-bottom: 2px dashed #12C868;
  color: #000;
}

.contact-information__logo-img {
  margin-top: -6vh;
}

.contact-information__messenders {
  font-size: 12px;
}

.contact-information__messenders-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-information__messenders-text::before {
  content: '*';
  position: relative;
  color: #12C868;
  right: 0.3vw;
}

.contact-information__messenders-content {
  margin-top: 1.5vh;
}

.contact-information__messenders-content img {
  width: 43.85px;
  height: 43.85px;
  border: 3px solid rgba(0, 0, 0, 0);
  border-radius: 50px;
  -webkit-transition: border 0.3s ease 0s;
  transition: border 0.3s ease 0s;
}

.contact-information__messenders-content img:hover {
  border: 3px solid rgba(133, 132, 132, 0.589);
}

.contact-information__whatsapp {
  margin: 0 1.5vh;
}

.contact-information__contact {
  max-width: 16vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-information__contact p {
  font-style: 12px;
}

.contact-information__contact-tel {
  font-size: 22px;
  margin: 1.5vh 0;
  color: #000;
}

.contact-information__contact-link-tel {
  font-style: 12px;
  color: #12C868;
  border-bottom: 2px dashed #12C868;
}

.main-content .conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.main-content__left-column-conteiner {
  -webkit-transform: skewY(5deg);
          transform: skewY(5deg);
  width: 16vw;
  background: white;
  border-radius: 20px;
  padding: 3vh 2vw;
}

.main-content__left-column-conteiner P {
  -webkit-transform: skewY(-5deg);
          transform: skewY(-5deg);
}

.main-content__left-column-conteiner-text {
  -webkit-box-shadow: 0px 10px 10px -10px rgba(34, 60, 80, 0.2);
          box-shadow: 0px 10px 10px -10px rgba(34, 60, 80, 0.2);
  margin-bottom: 1.5vh;
  line-height: 22px;
  font-size: 14px;
}

.main-content__company-informations {
  margin-left: 2.5vw;
}

.main-content__company-informations-text {
  font-size: 35px;
  line-height: 55px;
  width: 30vw;
}

.main-content__company-informations-text-before {
  font-size: 22px;
  line-height: 30px;
}

.main-content__company-informations-text-before::before {
  content: '';
  position: relative;
  padding-right: 5vw;
  background: url("/img/main-content/Круги.svg") center center no-repeat;
}

.main-content__btn {
  margin: 3vh 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content__price, .main-content__record {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 10vh;
  width: 18vw;
  border-radius: 500px;
  -webkit-transition: background 0.3s ease 0s;
  transition: background 0.3s ease 0s;
  font-size: 14px;
  color: white;
}

.main-content__price::after, .main-content__record::after {
  content: '';
  width: 50px;
  height: 50px;
  background: url("/img/main-content/Стрелка.svg") center center no-repeat;
}

.main-content__price P, .main-content__record P {
  max-width: 12vw;
}

.main-content__price {
  background: #12C868;
}

.main-content__price:hover {
  background: #21E27C;
}

.main-content__record {
  background: #F38120;
  margin-left: 1vw;
}

.main-content__record:hover {
  background: #FD9C49;
}

.main-content__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-content__footer::before {
  content: '';
  position: relative;
  padding-right: 50px;
  width: 30px;
  height: 30px;
  background: url("/img/main-content/Иконка.svg") center center no-repeat;
}

.main-content__footer-text {
  text-align: center;
  color: #000;
  max-width: 15vw;
}

.main-content__clone {
  display: none;
}

.main-content__left-column-clone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4vh;
}

.main-content__left-column-conteiner-clone {
  -webkit-transform: skewY(5deg);
          transform: skewY(5deg);
  width: 46vw;
  background: white;
  border-radius: 20px;
  padding: 3vh 2vw;
}

.main-content__left-column-conteiner-clone P {
  -webkit-transform: skewY(-5deg);
          transform: skewY(-5deg);
}

.main-content__left-column-conteiner-text-clone {
  -webkit-box-shadow: 0px 10px 10px -10px rgba(34, 60, 80, 0.2);
          box-shadow: 0px 10px 10px -10px rgba(34, 60, 80, 0.2);
  margin-bottom: 1.5vh;
  line-height: 22px;
  font-size: 14px;
}

.popap-record {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.849);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 5;
}

.popap-record .conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popap-record .conteiner__popap {
  margin-top: 20vh;
  height: auto;
  width: auto;
  background: #ffffff;
  border-radius: 30px;
}

.popap-record__exit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  font-size: 30px;
  color: #000;
  margin: 20px 20px 0px 0px;
}

.popap-record__content {
  padding: 5vh 5vw 5vh 5vw;
  max-width: 50vw;
  font-size: 12px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992px) {
  .popap-record__content {
    max-width: 75vw;
  }
}

.popap-record__header {
  font-size: 16px;
}

.popap-record__header p {
  margin: 2vh 0;
}

.popap-record__header-title {
  line-height: 30px;
  font-size: 30px;
}

.popap-record__header-time {
  font-size: 12px;
}

.popap-record__form-tel {
  height: 10vh;
  width: 18vw;
  margin-top: 2vh;
  border-radius: 500px;
  -webkit-box-shadow: 0px 5px 20px 10px rgba(34, 60, 80, 0.2);
          box-shadow: 0px 5px 20px 10px rgba(34, 60, 80, 0.2);
  font-size: 14px;
  padding-left: 3vw;
  color: #000;
  -webkit-transition: -webkit-box-shadow 0.3s ease 0s;
  transition: -webkit-box-shadow 0.3s ease 0s;
  transition: box-shadow 0.3s ease 0s;
  transition: box-shadow 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s;
}

.popap-record__form-tel:focus {
  -webkit-box-shadow: 0px 5px 10px 5px rgba(34, 60, 80, 0.2);
          box-shadow: 0px 5px 10px 5px rgba(34, 60, 80, 0.2);
}

@media (max-width: 992px) {
  .popap-record__form-tel {
    width: 70vw;
    padding-left: 30%;
  }
}

.popap-record__form-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 2vh;
  margin-bottom: 2vh;
  height: 10vh;
  width: 18vw;
  border-radius: 500px;
  -webkit-transition: background 0.3s ease 0s;
  transition: background 0.3s ease 0s;
  font-size: 14px;
  color: white;
  background: #F38120;
}

.popap-record__form-btn::after {
  content: '';
  width: 50px;
  height: 50px;
  background: url("/img/main-content/Стрелка.svg") center center no-repeat;
}

.popap-record__form-btn P {
  max-width: 12vw;
}

.popap-record__form-btn:hover {
  background: #FD9C49;
}

@media (max-width: 992px) {
  .popap-record__form-btn {
    width: 70vw;
  }
  .popap-record__form-btn P {
    max-width: 62vw;
  }
}

.popap-record__form-checkbox {
  position: relative;
  top: 10px;
  left: 0;
  height: 25px;
  width: 25px;
}

.popap-record__form-checkbox-label a {
  display: block;
  color: #F38120;
}

.popap-record:target {
  opacity: 1;
  visibility: visible;
}

.popap-record__exit-area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
