body.active {
    @media (max-width:992px) {
        padding: 0;
        background: #EDF2F5;
        // .main-content__clone{
        //     display: none;
        }
    
}

header {

    @media (max-width:992px) {
        .header__bureger {
            display: block;

            position: absolute;
            top: 8vh;
            width: 50px;
            height: 30px;
            right: 10vw;
            z-index: 3;

            &::before,
            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: rgb(255, 255, 255);
                transition: all 0.3s ease 0s;
            }

            &::before {
                top: 0;
            }

            &::after {
                bottom: 0;
            }


            .header__bureger-span {
                position: absolute;
                top: 14px;
                width: 100%;
                height: 2px;
                background-color: rgb(255, 255, 255);
                transition: all 0.3s ease 0s;
            }

        }

        .header__bureger.active {

            &::before {
                top: 50%;
                transform: rotate(45deg);
            }

            &::after {
                bottom: 50%;
                transform: rotate(-45deg);
            }

            .header__bureger-span {
                transform: scale(0);
            }
        }

        .nav-link__nav {
            display: none;
        }

        .nav-link.active {
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 100%;
            background: #EDF2F5;

            // background: rgba(0, 170, 238, 0.1);

            .nav-link__nav {
                display: block;
            }

            .nav-link__content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                width: 100%;
                height: 100%;

            }

            .nav-link__content-li {
                font-size: 24px;
                margin: 10px 0px 10px 0px;
                transition: font-size 0.1s ease-out 0s;

                &:hover {

                    font-size: 26px;
                }
            }
        }

        .contact-information {
            display: none;
        }

    }
}