
//Styles


@import "_null.scss";

@import "_font name.scss";

// @import "_burger.scss";

// @import "_adaptiv.scss";


//!===============================================================================



//!===============================================================================
body{
    font-family: 'Forum', cursive;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    margin: 0 auto;    
    // @media (min-width: 1600px){
    //     padding: calc(20px + (50 -20)  * ((100vw - 320px) / (1600 - 320)));
    // }
}
//!===============================================================================



//!===============================================================================

//!===============================================================================



//!===============================================================================

//!===============================================================================



//!===============================================================================
//!===============================================================================



//!===============================================================================

//!===============================================================================



//!===============================================================================
//!===============================================================================



//!===============================================================================

//!===============================================================================



//!===============================================================================

//!===============================================================================



//!===============================================================================

//!===============================================================================



//!===============================================================================
//!===============================================================================



//!===============================================================================

//!===============================================================================



//!===============================================================================
//!===============================================================================



//!===============================================================================

//!===============================================================================



//!===============================================================================
//!===============================================================================



//!===============================================================================

//!===============================================================================



//!===============================================================================